@import url(./../index.css);

canvas {
  display: block;
  width: 100%; /* can be 200% for more width - NICE2HAVE */
  height: 100vh;
  background-color: var(--primary-white);
  z-index: 1;
}

.subtitle {
  position: absolute;
  top: 22px;
  left: 0;
  margin: auto;
  padding-top: 10px;
  width: 100%; 
  text-align: center;
  user-select: none;
  color: var(--secondary-color-pink);
  font-weight: 600;
}