body {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  justify-content: center;
}

/* body {
   position: relative; 
   left: 50%;
  transform: translateX(-50%); 
} */


h1 {
  color: black;
  text-align: center;
  /* left: calc(100vw - (100vw/2)); */
  position: absolute;
  z-index: 100;
  background-color: blue;
}

p {
color: black;
position: absolute;
top: 50px;
/* left: calc(100vw - (100vw/2)); */
z-index: 100;
background-color: pink;
}