@import url(./../../index.css);

button {
    border-radius: 5px;
    border: none;
    background-color: var(--primary-grey-dark-trans);
    color: var(--primary-white);
    padding: 10px 20px;
    font-size: 16px;
    cursor: var(--cursor-pointer);
    transition: background-color 0.3s ease;
    margin-bottom: 2px;
    width: 150px;
  }
  
  button:hover {
    background-color: var(--secondary-color-pink);
  }

  button.disabled {
    background-color: transparent;
    cursor: var(--cursor-auto);
    outline: 1px solid var(--primary-grey-dark-trans);
  }