button {
    border-radius: 5px;
    border: none;
    background-color:  rgba(100, 100, 100, 0.3);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2px;
    width: 150px;
  }
  
  button:hover {
    background-color: #ff00c8e1;
  }

  button.disabled {
    background-color: transparent;
    cursor: auto;
    outline: 1px solid rgba(100, 100, 100, 0.3);
  }