@import url(./../../index.css);

.option {
    width: 300px;
    background-color: var(--primary-grey-white);
    z-index: 101;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    box-shadow: 0 1px 4px var(--primary-black-grey-trans);
    padding: 10px 20px 10px 20px; 
    z-index: 200;
    background-color: var(--primary-grey-white);
    border-radius: 5px;
    border: none;
}

.textarea-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.textarea-input {
    height: 6rem;
    opacity: 0.5;
    padding: 1rem;
    font-size: 0.8rem;
    border: 1px, solid, var(--primary-grey-white);
    border-radius: 5px;
    resize: none;
    box-shadow: 2px 2px 5px var(--primary-grey);
    cursor: var(--cursor-text);
}

.count {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3rem;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.input {
    height: 0.5rem;
    opacity: 0.5;
    padding: 1rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    resize: none;
    box-shadow: 2px 2px 5px var(--primary-grey);
    margin-bottom: 15px;
    cursor: var(--cursor-text);
}

.cancel-tag {
    text-align: right;
    padding: 0;
    margin-bottom: 10px;
    cursor: var(--cursor-pointer);
    color: var(--primary-black-grey-trans);
  }